html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    background-color: #1c1c1c;
    color: snow;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: snow;
}

.topnav {
    background-color: #252525;
    overflow: hidden;
}

    .topnav a {
        color: snow;
        padding: 14px 16px;
        display: block;
        text-align: center;
        float: left;
        text-decoration: none;
    }

        .topnav a:hover {
            color: snow;
        }

    .topnav .icon {
        display: none;
    }

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
}

#aboutMe {
    display: flex;
}

h1 {
    padding: 50px 0 0 50px;
    font-size: 72px;
}

.blink {
    animation: blinker 1.2s infinite step-end;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.contentBlock {
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

@media screen and (max-width: 870px) {
   #aboutMe{
       display: inline-block;
   }
}

.card {
    background-color: #383838;
    font-size: 24px;
    padding: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    font-size: 28px;
    border-radius: 5px;
}

.withWidth {
    width: 400px;
    display: inline-block;
}

    .card a {
        text-decoration: underline;
        text-decoration-color: #7de67d;
    }

.underlinedText {
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
    border-width: 2px;
}

#meAndLinksContentBlock {
    padding-top: 100px;
    text-align: center;   
}

#meAndLinks {
    display: inline-block;
    text-align: left;
}

#me {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow:hidden;
}

    #me img {
        width: 250px;
    }


#links {
    margin-top: 50px;
}

.link{
    display: flex;
    font-size: 45px;
    align-items: center;
    opacity: 0.6;
    transition: all 0.3s;
    line-height: 72px;
}

    .link img {
        width: 45px;
        margin-right: 15px;
        -webkit-transition : -webkit-filter 0.3s linear;
        filter: brightness(0) invert(1);
    }

    .link:hover{        
        opacity: 1;
    }

    .link:hover img{
        filter: none;
    }


#contactMe {
    margin-top: 50px;
    font-size: 24px;
    color: #A4A1A1;
}



#projects {
    margin-top: 150px;
    text-align: center;
    background-color: #222;
    padding-bottom: 100px;
}

    #projects .card {
        margin-bottom: 50px;
        display: inline-block;
    }

.project-card {
    font-size: 36px;
}

    .project-card a {
        text-decoration: none;
        position: relative;
    }

        .project-card a:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        .project-card a:hover:after {
            width: 100%;
            left: 0;
        }

.project-card-body {
    font-size: 20px;
    color: #b5b5b5;
    padding-top: 10px;
}

.project-card-technologies {
    margin-top: 45px;
}

.project-card-technology {
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 6px;
    display: inline-block;
}

.project-lang {
    margin-top: 10px;
    display: inline-block;
}

.project-lang {
    margin-top: 10px;
    display: inline-block;
}

.project-link {
    float: right;
    transition: all 0.2s ease-in-out;
    margin-top: 5px;
    opacity: 0.6;
}

    .project-link:hover {
        transform: scale(1.15);
        opacity: 1;
    }

    .project-link img {
        width: 32px;
    }

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}

.titleText {
    font-size: 72px;
    padding-bottom: 75px;
    padding-top: 75px;
    color: #ffa500;
}

@media screen and (max-width: 600px) {
    .card {
        margin: 0;
    }
}

@media screen and (max-width: 460px) {    

    .card {
        width: 300px;
    }    

    .project-card {
        font-size: 30px;
    }

    .project-card-body {
        font-size: 16px;
    }

    .dot{
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 400px){
    h1{
        font-size: 48px;
    }

    .link{
        font-size: 24px;
    }

    #contactMe{
        font-size: 16px;
    }

    #infoAboutMe{
        font-size: 22px;
    }

    .card {
        width: 250px;
    }    

    .project-card {
        font-size: 30px;
    }

    .project-card-body {
        font-size: 16px;
    }

    .dot{
        width: 15px;
        height: 15px;
    }
}

#moreInfo{
    font-size: 24px;
    padding: 25px 0 25px 0;
    color: #b5b5b5;
}

#moreInfo a{   
    opacity: 0.6;
    transition: all .35s;
}

#moreInfo a:hover{
    opacity: 1;
}

#moreInfo a img{
    width: 40px;
}

#wipProjects {
    text-align: center;
    background: #303030;
}

    #wipProjects .titleText {
        color: #ff163e;
    }
