---

---

<p id="trophy" style="font-size: 80px; cursor: pointer">⬛</p>

<script>
  const trophy = document.querySelector("#trophy");

  trophy!.addEventListener("click", (e) => {
    trophy!.innerText = "💩";
  });
</script>
